pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit-tags
Pillow
textblob
PyPDF2
scikit-learn
spacy>=3.0.0
pytesseract
language_tool_python
docx2txt
fpdf
opencv-python-headless
wordcloud
